body {
    background-color: #ffff99;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
}

gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

gallery img {
    justify-content: space-around;
    margin: 10px 0 0 2%;
    border-style: solid;
    border-color: grey;
    width: 256px;
    box-sizing: border-box;
}

h1, h2, h3, p {
    text-align: center;
}

table {
    display: flex;
    justify-content: space-around;
}

a {
    color: blue;
}

a:hover {
    text-shadow: 1px 1px 0px #ffffff;
}
h1  {
    font-family: "Comic Sans MS", cursive, sans-serif;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-radius: 5px;
	
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.us {
    display: flex;
    flex-grow: 1;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

img.logo {
    position: absolute;
    top: 10px;
    left: 10px;   
    width: 10%;
    height: auto;
}
section {
    margin-left: 1%;
    margin-right: 1%;
    background-color: #3399ff;
    margin-top: 1%;
	padding: 1%;
	border-style: outset;
	border-width: 10px;
	border-radius: 20px;
}

nav{
    display: flex;
    justify-content:center;
}
tr.nav>th{
    border-style: solid;
	border-width: 1px;
	border-radius: 5px;
    padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ccffcc;
}
